@charset "UTF-8";

/*-----------------------------Переменные START-----------------------------*/

/*-----------------------------Переменные END-----------------------------*/

.slider {
    max-width: 1920px;
    margin: 0px auto;
    scroll-margin: 100px;
}

.slider__wrapper {
    margin: 0 0 55px;
    position: relative;
}

.slider__wrapper .container {
    padding: 0;
    margin: 0 80px;
}

.slider__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
}

.slider__title {
    margin: 0 0 25px;
}

.slider__title-container h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    line-height: 110%;
}

.slider-nav__wrapper {
    margin: 0 60px 0 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slider-nav__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.slider-nav--next {
    visibility: visible;
    background-color: rgb(213, 209, 198);
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    margin: 0 20px 0 0;
}

.slider-nav--next:hover {
    background-color: rgba(213, 209, 198, 0.7);
}

.slider-nav--next .icon-right-arrow:after {
    font-size: 50px;
    cursor: pointer;
    color: white;
}

.slider-nav--next-hidden {
    visibility: hidden;
}

.slider-nav--prev {
    visibility: hidden;
    background-color: rgb(213, 209, 198);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin: 0 0 0 20px;
}

.slider-nav--prev:hover {
    background-color: rgba(213, 209, 198, 0.7);
}

.slider-nav--prev .icon-left-arrow:after {
    font-size: 50px;
    cursor: pointer;
    color: white;
}

.slider-nav--prev-active {
    visibility: visible;
}

.slider__container-field {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.slider__container-field *:last-child .slide__wrapper {
    margin: 0;
}

.slide {
    min-height: 500px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.slide__wrapper {
    width: calc(330px + 243 * (100vw - 1200px) / 720);
    background: #F8F7F1;
    overflow: hidden;
    margin: 0 30px 0 0;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    border-radius: 5px;
}

.slide__container {
    position: relative;
    padding: 30px 20px 0 20px;
}

.slide-image {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.slide-image__wrapper {
    max-width: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.slide-image__container {
    max-height: 80px;
}

.slide-title {
    text-align: center;
}

.slide-description__container p {
    line-height: 130%;
    margin: 0 0 20px;
    padding: 0 15px 0 0;
}

@media (max-width: 1200px) {
    .slider__container {
        overflow-x: scroll;
    }

    .slider__container::-webkit-scrollbar {
        display: none;
    }

    .slider-nav {
        display: none;
    }

    .slider-nav__container .slider-nav--prev,
  .slider-nav__container .slider-nav--next {
        display: none;
    }

    .slide__wrapper {
        width: calc(310px + 30 * (100vw - 992px) / 432);
    }
}

@media (max-width: 992px) {
    .slider__wrapper .container {
        margin: 0 30px;
    }
}

@media (max-width: 768px) {
    .slider {
        scroll-margin: 130px;
    }

    .slider__wrapper .container {
        margin: 0;
    }

    .slide__wrapper {
        width: calc(300px + 428 * (100vw - 390px) / 448);
    }

    .slide__container {
        padding: 20px 0 0 15px;
    }
}